---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import headerImage from "../../assets/header.jpg";

const dateSeparator = "/";
---

<Layout title="Luca & Veronica">
  <main class="h-screen">
    <Header
	  class="h-3/6 h-full"
      title="Luca & Veronica"
      subtitle={["15", "09", "2024"].join(dateSeparator)}
      photo={headerImage.src}
    />
	<section class="flex gap-5 flex-col items-center justify-center h-full text-center w-full container mx-auto px-4 md:flex-row md:h-3/6">
		<section class="flex flex-col items-center justify-center h-full w-full bg-slate-300">
			<h1 class="text-4xl font-bold text-gray-800">
				Quando?
			</h1>
			<p class="text-2xl ">
				15 Settembre 2024
			</p>
		</section>
		<section class="flex flex-col items-center justify-center h-full w-full bg-slate-300">
			<h1 class="text-4xl font-bold  text-gray-800">
				Dove?
			</h1>
			<p class="text-2xl">
				Villa Appia Eventi
			</p>
			<p class="text-2xl">
				<a href="https://maps.app.goo.gl/EdeQuFv8BX8tcTyq8">Via Appia Nuova, 244, 00047 Marino RM</a>
			</p>
		</section>
	</section>
  </main>
</Layout>
