---
import Layout from "../layouts/Layout.astro";

const versions = Object.keys(import.meta.glob('./v*/index.astro')).map((key) => key.replace(/.\/(v.*?)\/.*/, "$1"))
---

<Layout title="Luca & Veronica">
    <main class="h-screen text-center container flex flex-col py-5">
        <h2 class="text-5xl">Versioni di test</h2>
        <div class="flex flex-col justify-center h-full gap-y-5">
            {versions.map((version) => (
                <section class="text-2xl"><a href={`${version}`}>Vai alla {version}</a></section>
            ))}
        </div>
    </main>
</Layout>

<style>
    * {
        font-family: 'Montserrat', sans-serif;
    }
</style>